* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 
.container{
    width: 1200px;
    margin: 0 auto;
}
i{
    cursor: pointer;
}

/* header */
header .top-header {
    border-bottom: 1px solid rgba(128, 128, 128, 0.196);
    font-size: 13PX;
}

header .top-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .intro a {
    text-decoration: none;
    color: black;
    padding-right: 10px;
}

header .intro a:hover {
    color: rgb(68, 89, 230);
    transition: ease-in-out 0.25s;
}

header .currency {
    border-left: 1px solid rgba(128, 128, 128, 0.196);
    padding-left: 20px;
    padding: 10px 0 10px 10px;
}

header .currency select {
    outline: none;
    border: none;
    padding-left: 20px;
}

/* main header */
.main-header{
    border-bottom: 1px solid rgba(128, 128, 128, 0.196);
    padding: 30px 0;
}
.main-header .user-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-header .user-header .search input{
    width: 800px;
    padding: 15px 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.086);
}
.main-header .user-header .search i{
    margin-left: -30px;
}
.main-header .header-button,
.main-header .header-button a{
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    text-decoration: none;
}
.main-header .header-button i{
    padding-left: 15px;
    cursor: pointer;
}


/* content */
.main .breadcrumb{
    font-size: 13px;
}
.main .breadcrumb ul{
    display: inline-flex;
    list-style: none;
    line-height: 40px;
}
.main .breadcrumb ul li{
    margin-right: 10px;
}
.main .breadcrumb ul li a{
    text-decoration: none;
    color: black;
}
.main .breadcrumb ul li span{
    color: rgba(128, 128, 128, 0.522);
}
.content tbody tr:last-child td:last-child{
    border-bottom: none;
}


/* main */
main{
    padding: 15px 0 30px 0px;
}

/* main -> content */
.main  .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.main section form{
    width: 65%;
}
.main section table{
    max-width: 100%;
    width: 800px;
    text-align: center;
}

.main .cart table tr{
    border: 10px solid orange;
}

.main .inform-cart table td{
    border: none;
    text-align: right;
}
.main section .inform-cart{
    width: 30%;
    border: 1px solid rgba(220, 220, 220, 0.618);
    padding: 25px;
    line-height: 30px;
}
.main section .inform-cart h3{
    border-bottom: 1px solid gainsboro;
    padding-bottom: 20px;
}
.main section .cart-total div button{
    text-align: center;
    padding: 10px 0;
    margin-top: 30px;
    width: 100%;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}



/* footer */
footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10px;
}

footer .container .icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .container .icon i {
    margin-right: 10px;
}

footer .footer-iconboxes {
    background-color: #f7f8fd;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

/* footer-main */
footer .container {
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
}

footer .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    line-height: 30px;
}

footer .content ul {
    width: 20%;
}

footer .content ul:first-child {
    width: 40%;
}

footer .content ul li {
    list-style: none;
}

footer .content ul li a {
    text-decoration: none;
    color: black;
}

footer .content ul li a:hover {
    color: rgb(68, 89, 230);
    transition: ease-in-out 0.25s;
}

footer .footer-bottom {
    border-top: 1px solid rgba(128, 128, 128, 0.309);
}

footer .footer-bottom span {
    color: rgb(127, 180, 255);
}

footer .footer-bottom p {
    color: #a2a4b7;
}